include LICENSE.txt
include README.rst
include tests/*.py
include scrapenhl2/scrape
include scrapenhl2/manipulate
include scrapenhl2/plot
include scrapenhl2/scrape/*
include scrapenhl2/manipulate/*
include scrapenhl2/plot/*
include scrapenhl2/docs/source/*
include scrapenhl2/docs/Makefile
include scrapenhl2/docs/make.bat
include scrapenhl2/scrape/data/other/schedule.sqlite
include scrapenhl2/scrape/data/other/teams.sqlite
