include LICENSE
include README.rst
include tests/*.py
include docs/*
include /scrapenhl2/data/other/*
include /scrapenhl2/data/parsed/pbp/2017/*
include /scrapenhl2/data/parsed/toi/2017/*
include /scrapenhl2/data/teams/pbp/2017/*
include /scrapenhl2/data/teams/toi/2017/*
include /scrapenhl2/scrape/*
include /scrapenhl2/manipulate/*
include /scrapenhl2/plot/*