numpy
scipy
matplotlib
seaborn
pandas
pyarrow
feather-format
halo
scikit-learn
flask
python-Levenshtein
fuzzywuzzy
beautifulsoup4
html-table-extractor
plotly
dash
dash-renderer
dash-html-components
dash-core-components